body{
    margin: 0px;
}

header{


}


main{
    display: flex;
    background-image: url(images/fotomain.jpg);
    height: 700px;
    width: 100%;
    
    
}


footer{
    background-color: rgb(37, 37, 82);
   

}


nav{
    display: flex;
    background-color: white;
    margin-right: 20%;
    margin-left: 20%;
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 50px;
    text-decoration: none;
}


nav ul li a{
    text-decoration: none;
    color: rgb(0, 25, 71);
}


.margen-contenido{
    margin-right: 20%;
    margin-left: 20%;

    
}

p{
    color: white;
}

.pmain{
    color: darkblue;
}

h1{
    color: darkblue;
}

h2{
    color: white;
}

.franja-superior{
    height: 50px;
    background-color: darkblue;
    
   
}


.texto-superior{
    padding-top: 150px;    
    

}